* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#source {
    position: absolute;
    left: 20px;
    width: calc(50% - 30px);
    height: calc(100% - 50px);
    background: white;
    overflow: hidden;
}

#target {
    position: absolute;
    left: calc(50% + 10px);
    width: calc(50% - 30px);
    height: calc(100% - 50px);
    background: silver;
    overflow: hidden;
}

#output {
    position: absolute;
    left: 20px;
    width: calc(50% - 30px);
    height: calc(100% - 50px);
    background: white;
    overflow: hidden;
}

#commands {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    margin: 0 20px;
}

#commands>button {
    margin: 2px;
}

.hidden {
    display: none;
}
