* {
    box-sizing: border-box;
}

html,
body {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

.commands {
    display: flex;
    align-items: center;
    height: 30px;
    margin: 2px;
}

.commands>button {
    margin: 2px;
}

.accordion {
    display: flex;
    flex:  auto;
    flex-flow: row nowrap;
    background: silver;
}

.accordion>.tab {
    white-space: nowrap;
    width: 20px;
    height: 20px;
    padding: 5px;
	transform: translate(25px) rotate(90deg);
    transform-origin: left top 0;
    cursor: pointer
}

.accordion>.det {
    width: 0;
    overflow: hidden;
    border: 1px solid gray;
}

#output {
    position: relative;
    background: white;    
}